In [95]:
import pandas as pd
place_for_file = 'C:/Users/1/Desktop/new'

In [98]:
def count_top3(*names):
    count = 0
    for i in names:
        if count == 0:
            name_2=f'{place_for_file}/yob{i}.txt'
            df_res = pd.read_csv(name_2,names = ['name','gender','count'])
            count += 1
        else:
            dc=df_res
            name_2=f'{place_for_file}/yob{i}.txt'
            df = pd.read_csv(name_2,names = ['name','gender','count'])
            df_res = pd.concat([dc,df])    
    return df_res
        
print(count_top3(1900, 1950, 2000).groupby(['name','gender']).sum().sort_values(by='count', ascending=False).head(3))

                count
name   gender
James  M       111456
John   M       109349
Robert M       101118

In [97]:
def count_dynamics(*names):
    count = 0
    for i in names:
        if count == 0:
            name_2=f'{place_for_file}/yob{i}.txt'
            df_res = pd.read_csv(name_2,names = ['name','gender','count'])
            df_res['year']=i
            count += 1
        else:
            dc=df_res
            name_2=f'{place_for_file}/yob{i}.txt'
            df = pd.read_csv(name_2,names = ['name','gender','count'])
            df['year']=i
            df_res = pd.concat([dc,df])    
    return df_res
count_dynamics(1900, 1950, 2000).groupby(['gender','year']).sum()

               count
gender year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202